<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      Scott Nakada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-img src="/assets/Scott_Small.jpg"></ion-img>
  <ion-card-content>
    <h2>Professional</h2>
    <ul>
      <li>Full Stack Dev Ops</li>
      <li>Firmware Engineer</li>
      <li>Electrical Engineer</li>
    </ul>
    <h2>Hobbies</h2>
    <ul>
      <li>Learning Ionic Framework</li>
      <li>Salsa Dancing</li>
      <li>Marathon/Triathlon</li>
      <li>Ski/Snowboarding</li>
    </ul>
  </ion-card-content>
</ion-card>
